[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
djangorestframework = "*"
djoser = "*"
django-test = "*"

[dev-packages]

[requires]
python_version = "3.11"
